.container_post_list{
    background-color: #7d9fff;
    border: 1px solid #5ecfff;
    max-width: 1043px;
    width: 100%;
    margin: 0 auto;
    padding: 60px 114px 50px 114px;
}
.posts_box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 32px;
}
.container_post_list h2{
    font-weight: var( --fwbold);
    font-size: 36px;
    color: rgba(9, 8, 8, 0.8);
    text-align: center;
    padding-bottom: 92px;
}
.btns_container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    gap: 50px;
}
.btn_back,
.btn_next{
    border: none;
    border-radius: 5px;
    padding: 8px 5px;
    font-weight: var( --fwbold);
    font-size: 12px;
    color: rgba(9, 8, 8, 0.8);
    background-color: #60e4eb;
    
    
}
