.single_post_container{
background-color: #3F5CC0;
border-radius: 15px;
display: flex;
align-items: center;
justify-content: space-between;
padding: 16px 22px 13px 22px;
}
.icon_div{
    display: flex;
    align-items: center;
    gap: 11px;
}
.icon_div p{
    font-weight: var( --fwbold);
    font-size: 16px;
    color: rgba(9, 8, 8, 0.8);
}
.div_txt_middle h3{
    font-weight: var( --fwbold);
    font-size: 32px;
    color: rgba(9, 8, 8, 0.8);
}
.div_txt_middle p{
    font-weight: var( --fwbold);
    font-size: 55px;
    color: rgba(9, 8, 8, 0.8);
}

.div_right{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 39px; 
}
.div_right p{
    font-weight: var( --fwbold);
    font-size: 16px;
    color: rgba(9, 8, 8, 0.8);
}
.btn_delete{
    font-weight: var( --fwbold);
    font-size: 16px;
    color: rgba(9, 8, 8, 0.8);
    background-color: rgba(13, 61, 48, 0.4);
    padding: 9px 11px;
    border: none;
}