.single_post_container{
background-color: #3F5CC0;
border-radius: 15px;

}
.icon_div{

}
.icon_div img{

}
.icon_div p{

}
.div_txt_middle{

}
.div_txt_middle h3{

}
.div_txt_middle p{

}

.div_right{

}
.div_right p{

}
.btn_delete{

}